.finish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  .result {
    border-radius: 1rem;
    padding: 1.2rem;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    span {
      color: $color-secondary;
    }

    &__icon {
      font-size: 2rem;
    }

    &__text {
      font-size: 2rem;
    }
  }
}
