body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-text-primary;
  font-size: $default-font-size;
}

h1,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Lato", sans-serif;
  color: $color-text-primary;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

a,
p {
  color: $color-text-primary;
  font-size: $default-font-size;
}
