$default-font-size: 1.6rem;

// Colors
$color-primary: #005cc8;
$color-secondary: #929eaf;
$color-tertiary: #b2d3f3;
$color-text-primary: #f7f7f7;
$color-correct-answer: green;
$color-wrong-answer: red;

// Others
$paddig-sides: 5rem;
